// Place all the styles related to the barbers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing-info-box {
  margin-top: 100px;
  background-color: yellow;
}

.barbers-search-form {
  margin-left: 10px;
  margin-top: 30px;
  padding: 30px;
  background-color: #D6D6B1;
}

.barbers-container-cards {
  padding: 30px;
}

.barber-card {
  background-color: #F2F2E1;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.map-position  {
    width: 33.33%;
    height: 600px;
    position: fixed;
    display: block;
    top: 75px;
    right: 0px;
    z-index: -1;
}

#map {
  position: absolute;
  width: 100%;
  height: 600px;
}

.barber-show-banner {
  color: white;
  text-align: center;
  height: 350px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
