<div class="container">
  <div class="row">
    <div id="scissor-div" class="col-xs-7">
      <%= image_tag 'scissor.png', class: 'scissor'%>
    </div>
  </div>
</div>


  <div class="footer" >
     <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
            <li><a href=""><i class="fa fa-instagram icons-footer"></i></a></li>
            <li><a href=""><i class="fa fa-facebook icons-footer"></i></a></li>
            <li><a href=""><i class="fa fa-twitter icons-footer"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-7 text-right">
          <!-- <p>Get your groom on</p> -->
        </div>

    </div>
  </div>
