<div class="text-center margin">
  <h1>Create a new Barber</h1>
  <p>Here you can create a new barbershop so that everyone can search and find your shop and book appointments to look awesome!</p>
</div>

<%= render 'form' %>
