// Your footer style

.footer {
  font-size: 20px;
  color: black;
  padding: 30px;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  position: relative;
  background-image: url("oldwood.jpg");
  opacity: 0.7;
}


.icons-footer {
  color: black;
  opacity: 1.5;
  font-size: 30px;
}

.scissor {
  height: 100px;
  opacity: 0.7;
  position: absolute;
}

#scissor-div {
  z-index: 2;
  padding-bottom: 50px;
  padding-left: 1100px;
}
