// Your footer style
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

.push {
    height: 100px; /* .push must be the same height as .footer */
}

.footer {
  height: 100px;
  font-size: 20px;
  color: black;
  padding: 30px;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  position: relative;
  background-image: url('images/oldwood.jpg');
  opacity: 0.7;
}


.icons-footer {
  color: black;
  opacity: 1.5;
  font-size: 30px;
}

.scissor {
  height: 100px;
  opacity: 0.7;
  position: absolute;
}

#scissor-div {
  z-index: 2;
  padding-bottom: 50px;
  padding-left: 1100px;
}
