.button {
  color: white;
  background: #996633;
  width: 100%;
  padding: 10px 15px;
  opacity: 1;
  margin: 2em 0 3em 0;

}

.button:hover {
  opacity: 1.5;
  color: white;
  background: #996633;
}
