.card-block {
  background: #E6E6E6;
  border-bottom: 2px solid black;
  padding: 20px;
}

.card-profile-show {
  width: 300px;
  margin: 50px;
}

.detail-name {
  font-weight: bold;
  margin-right: 20px;
}

