.card-block {
  background: #73b7c2;
  // border-bottom: 2px solid black;
  padding: 20px;
  border-radius: 5px;
}

.card-profile-show {
  width: 350px;
  margin: 50px;
}

.detail-name {
  font-weight: bold #A5A5A5;
  margin-right: 20px;
}

.img_show {
  width: 350px;
  margin-left: 20px;
  margin-top: 50px;
}

